<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#"  >Compras App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link active"  
          aria-current="page"  href="/">Inicio</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link active"  
          aria-current="page" href="/proveedores">Proveedores</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link active"  
          aria-current="page" href="/addpres">Añadir Presupuesto</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link active"  
            aria-current="page" href="/presupuestos">Presupuestos</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link active"  
              aria-current="page" href="/registro">Registro</a></li>
        <li>
          <a class="nav-link disabled">Disabled</a>
        </li>
      </div>
    </div>
  </div>
</nav>